@inherits ComponentBaseWithLocalizer

@page "/teams"

<h3>@Localizer["Teams"]</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/teams/create">@Localizer["New"] @Localizer["Team"]</a>
</div>

<GenericList MyList="Teams">
    <Body>
    <table class="table table-striped">
        <thead class="border-bottom border-black">
        <tr>
            <th>@Localizer["Team"]</th>
            <th>@Localizer["Country"]</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var team in Teams!)
        {
            <tr>
                <td>@team.Name</td>
                <td>@team.Country.Name</td>
                <!-- TODO -->
                <td><a class="btn btn-warning btn-sm" href="/teams/edit/@team.Id">@Localizer["Edit"]</a></td>
                <td><button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(team))>@Localizer["Delete"]</button></td>
            </tr>
        }
        </tbody>
    </table>
    </Body>
</GenericList>